<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="csu.lch.usercenter.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="csu.lch.usercenter.domain.User">
            <id property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="userAvatarUrl" column="userAvatarUrl" jdbcType="VARCHAR"/>
            <result property="userGender" column="userGender" jdbcType="TINYINT"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="userPhone" column="userPhone" jdbcType="VARCHAR"/>
            <result property="userEmail" column="userEmail" jdbcType="VARCHAR"/>
            <result property="userStatus" column="userStatus" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="userRole" column="userRole" javaType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,username,userAccount,
        userAvatarUrl,userGender,userPassword,
        userPhone,userEmail,userStatus,
        createTime,updateTime,isDelete,
        userRole
    </sql>
</mapper>
